<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Year Persistence Prediction</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container p-4">
        <h1 class="text-center">First Year Persistence Prediction</h1>
        <div class="custom-container border border-dark">
            <form id="predictionForm">
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first_term_gpa">First Term GPA</label>
                            <input type="number" class="form-control" id="first_term_gpa" name="first_term_gpa" min="0.000000" max="5.000000" step="0.000001" required>
                        </div>
                        <div class="form-group">
                            <label for="second_term_gpa">Second Term GPA</label>
                            <input type="number" class="form-control" id="second_term_gpa" name="second_term_gpa" min="0.000000" max="5.000000" step="0.000001" required>
                        </div>
                        <div class="form-group">
                            <label for="first_language">First Language</label>
                            <select class="form-control" id="first_language" name="first_language">
                                <option>English</option>
                                <option>French</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="funding">Funding</label>
                            <select class="form-control" id="funding" name="funding">
                                <option>Apprentice_PS</option>
                                <option>GPOG_FT</option>
                                <option>Intl Offshore</option>
                                <option>Intl Regular</option>
                                <option>Intl Transfer</option>
                                <option>Joint Program Ryerson</option>
                                <option>Joint Program UTSC</option>
                                <option>Second Career Program</option>
                                <option>Work Safety Insurance Board</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="school">School</label>
                            <select class="form-control" id="school" name="school">
                                <option>Advancement</option>
                                <option>Business</option>
                                <option>Communications</option>
                                <option>Community and Health</option>
                                <option>Hospitality</option>
                                <option>Engineering</option>
                                <option>Transportation</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fast_track">FastTrack</label>
                            <select class="form-control" id="fast_track" name="fast_track">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>

                    <!-- Column 2 -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="coop">Coop</label>
                            <select class="form-control" id="coop" name="coop">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="residency">Residency</label>
                            <select class="form-control" id="residency" name="residency">
                                <option>Domestic</option>
                                <option>International</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select class="form-control" id="gender" name="gender">
                                <option>Female</option>
                                <option>Male</option>
                                <option>Neutral</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="previous_education">Previous Education</label>
                            <select class="form-control" id="previous_education" name="previous_education">
                                <option>HighSchool</option>
                                <option>PostSecondary</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="age_group">Age Group</label>
                            <select class="form-control" id="age_group" name="age_group">
                                <option>0 to 18</option>
                                <option>19 to 20</option>
                                <option>21 to 25</option>
                                <option>26 to 30</option>
                                <option>31 to 35</option>
                                <option>36 to 40</option>
                                <option>41 to 50</option>
                                <option>51 to 60</option>
                                <option>61 to 65</option>
                                <option>66+</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="english_grade">English Grade</label>
                            <input type="number" class="form-control" id="english_grade" name="english_grade" min="1" max="10" step="1" required>
                        </div>
                    </div>
                </div>
                <div class="d-grid mx-auto">
                    <button type="submit" class="btn btn-primary">Predict</button>
                    <button type="button" class="btn btn-primary" id="btn_scores">Scores</button>
                    <button type="button" class="btn btn-primary" id="btn_summary">Summary</button>
                </div>
            </form>
            <div class="d-grid mx-auto">
                <!--<p id="resultText" name="resultText" class="text-center"></p>-->
                <!--{{prediction_result}}-->
            </div>

            <!-- Modal -->
            <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p id="resultText" name="resultText" class="text-center"></p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>

    
</body>
</html>